# String in Python

In [50]:
s = "ineuron"

In [51]:
type(s)

str

In [52]:
s[0]

'i'

In [53]:
s[-2]

'o'

In [54]:
s1 = 'akhil'

In [55]:
s1[-2]

'i'

In [56]:
s2 = 'this is my first python class'

In [57]:
s2[-5]

'c'

In [58]:
s2

'this is my first python class'

In [59]:
s2[4:10]

' is my'

In [60]:
s2[6:20:3]

'syity'

In [61]:
s = "Akhilesh"

In [62]:
s[0:7:1]

'Akhiles'

In [63]:
s[7:0:-1]

'hselihk'

In [64]:
s[:-3]

'Akhil'

In [65]:
s[-6:-3]

'hil'

In [66]:
s[1::]

'khilesh'

In [67]:
s[::-1]

'hselihkA'

In [68]:
s + "4"

'Akhilesh4'

In [69]:
s + str(3)

'Akhilesh3'

In [70]:
len(s)

8

In [71]:
s *= 2
s

'AkhileshAkhilesh'

### s.count("substring") 
This will return count of occurrence in the string

In [72]:
s.count('sh')

2

In [73]:
s.split("e")

['Akhil', 'shAkhil', 'sh']

In [74]:
sw = """The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational
manufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,
[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). 
As of 2020, Samsung has the 8th highest global brand value.[4] Samsung was founded by Lee Byung-chul in 1938 as a trading company.
 Over the next three decades, the group diversified into areas including 
food processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s 
and the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was
separated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."""

In [75]:
l = sw.split(" ");

In [76]:
l

['The',
 'Samsung',
 'Group[3]',
 '(or',
 'simply',
 'Samsung,',
 'stylized',
 'as',
 'SΛMSUNG)',
 '(Korean:',
 '삼성',
 '[samsʌŋ])',
 'is',
 'a',
 'South',
 'Korean',
 'multinational\nmanufacturing',
 'conglomerate',
 'headquartered',
 'in',
 'Samsung',
 'Town,',
 'Seoul,',
 'South',
 'Korea.[1]',
 'It',
 'comprises',
 'numerous',
 'affiliated',
 'businesses,\n[1]',
 'most',
 'of',
 'them',
 'united',
 'under',
 'the',
 'Samsung',
 'brand,',
 'and',
 'is',
 'the',
 'largest',
 'South',
 'Korean',
 'chaebol',
 '(business',
 'conglomerate).',
 '\nAs',
 'of',
 '2020,',
 'Samsung',
 'has',
 'the',
 '8th',
 'highest',
 'global',
 'brand',
 'value.[4]',
 'Samsung',
 'was',
 'founded',
 'by',
 'Lee',
 'Byung-chul',
 'in',
 '1938',
 'as',
 'a',
 'trading',
 'company.\n',
 'Over',
 'the',
 'next',
 'three',
 'decades,',
 'the',
 'group',
 'diversified',
 'into',
 'areas',
 'including',
 '\nfood',
 'processing,',
 'textiles,',
 'insurance,',
 'securities,',
 'and',
 'retail.',
 'Samsung',
 'entered',
 'the',
 'electronics',
 'industry',
 'in',
 'the',
 'late',
 '1960s',
 '\nand',
 'the',
 'construction',
 'and',
 'shipbuilding',
 'industries',
 'in',
 'the',
 'mid-1970s;',
 'these',
 'areas',
 'would',
 'drive',
 'its',
 'subsequent',
 'growth.',
 'Following',
 "Lee's",
 'death',
 'in',
 '1987,',
 'Samsung',
 'was\nseparated',
 'into',
 'five',
 'business',
 'groups',
 '–',
 'Samsung',
 'Group,',
 'Shinsegae',
 'Group,',
 'CJ',
 'Group',
 'and',
 'Hansol',
 'Group,',
 'and',
 'Joongang',
 'Group.']

In [77]:
sw

"The Samsung Group[3] (or simply Samsung, stylized as SΛMSUNG) (Korean: 삼성 [samsʌŋ]) is a South Korean multinational\nmanufacturing conglomerate headquartered in Samsung Town, Seoul, South Korea.[1] It comprises numerous affiliated businesses,\n[1] most of them united under the Samsung brand, and is the largest South Korean chaebol (business conglomerate). \nAs of 2020, Samsung has the 8th highest global brand value.[4] Samsung was founded by Lee Byung-chul in 1938 as a trading company.\n Over the next three decades, the group diversified into areas including \nfood processing, textiles, insurance, securities, and retail. Samsung entered the electronics industry in the late 1960s \nand the construction and shipbuilding industries in the mid-1970s; these areas would drive its subsequent growth. Following Lee's death in 1987, Samsung was\nseparated into five business groups – Samsung Group, Shinsegae Group, CJ Group and Hansol Group, and Joongang Group."

In [78]:
sw = sw.upper()

In [79]:
sw

"THE SAMSUNG GROUP[3] (OR SIMPLY SAMSUNG, STYLIZED AS SΛMSUNG) (KOREAN: 삼성 [SAMSɅŊ]) IS A SOUTH KOREAN MULTINATIONAL\nMANUFACTURING CONGLOMERATE HEADQUARTERED IN SAMSUNG TOWN, SEOUL, SOUTH KOREA.[1] IT COMPRISES NUMEROUS AFFILIATED BUSINESSES,\n[1] MOST OF THEM UNITED UNDER THE SAMSUNG BRAND, AND IS THE LARGEST SOUTH KOREAN CHAEBOL (BUSINESS CONGLOMERATE). \nAS OF 2020, SAMSUNG HAS THE 8TH HIGHEST GLOBAL BRAND VALUE.[4] SAMSUNG WAS FOUNDED BY LEE BYUNG-CHUL IN 1938 AS A TRADING COMPANY.\n OVER THE NEXT THREE DECADES, THE GROUP DIVERSIFIED INTO AREAS INCLUDING \nFOOD PROCESSING, TEXTILES, INSURANCE, SECURITIES, AND RETAIL. SAMSUNG ENTERED THE ELECTRONICS INDUSTRY IN THE LATE 1960S \nAND THE CONSTRUCTION AND SHIPBUILDING INDUSTRIES IN THE MID-1970S; THESE AREAS WOULD DRIVE ITS SUBSEQUENT GROWTH. FOLLOWING LEE'S DEATH IN 1987, SAMSUNG WAS\nSEPARATED INTO FIVE BUSINESS GROUPS – SAMSUNG GROUP, SHINSEGAE GROUP, CJ GROUP AND HANSOL GROUP, AND JOONGANG GROUP."

In [80]:
sw = sw.lower()

In [81]:
sw.title()

"The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) (Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational\nManufacturing Conglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It Comprises Numerous Affiliated Businesses,\n[1] Most Of Them United Under The Samsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate). \nAs Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4] Samsung Was Founded By Lee Byung-Chul In 1938 As A Trading Company.\n Over The Next Three Decades, The Group Diversified Into Areas Including \nFood Processing, Textiles, Insurance, Securities, And Retail. Samsung Entered The Electronics Industry In The Late 1960S \nAnd The Construction And Shipbuilding Industries In The Mid-1970S; These Areas Would Drive Its Subsequent Growth. Following Lee'S Death In 1987, Samsung Was\nSeparated Into Five Business Groups – Samsung Group, Shinsegae Group, Cj Group And Hansol Group, And Joongang Group."

In [82]:
sw.title()

"The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) (Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational\nManufacturing Conglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It Comprises Numerous Affiliated Businesses,\n[1] Most Of Them United Under The Samsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate). \nAs Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4] Samsung Was Founded By Lee Byung-Chul In 1938 As A Trading Company.\n Over The Next Three Decades, The Group Diversified Into Areas Including \nFood Processing, Textiles, Insurance, Securities, And Retail. Samsung Entered The Electronics Industry In The Late 1960S \nAnd The Construction And Shipbuilding Industries In The Mid-1970S; These Areas Would Drive Its Subsequent Growth. Following Lee'S Death In 1987, Samsung Was\nSeparated Into Five Business Groups – Samsung Group, Shinsegae Group, Cj Group And Hansol Group, And Joongang Group."

In [83]:
sw.title()

"The Samsung Group[3] (Or Simply Samsung, Stylized As Sλmsung) (Korean: 삼성 [Samsʌŋ]) Is A South Korean Multinational\nManufacturing Conglomerate Headquartered In Samsung Town, Seoul, South Korea.[1] It Comprises Numerous Affiliated Businesses,\n[1] Most Of Them United Under The Samsung Brand, And Is The Largest South Korean Chaebol (Business Conglomerate). \nAs Of 2020, Samsung Has The 8Th Highest Global Brand Value.[4] Samsung Was Founded By Lee Byung-Chul In 1938 As A Trading Company.\n Over The Next Three Decades, The Group Diversified Into Areas Including \nFood Processing, Textiles, Insurance, Securities, And Retail. Samsung Entered The Electronics Industry In The Late 1960S \nAnd The Construction And Shipbuilding Industries In The Mid-1970S; These Areas Would Drive Its Subsequent Growth. Following Lee'S Death In 1987, Samsung Was\nSeparated Into Five Business Groups – Samsung Group, Shinsegae Group, Cj Group And Hansol Group, And Joongang Group."

In [84]:
s.swapcase()

'aKHILESHaKHILESH'

In [85]:
s = "    Akh il   "

In [86]:
s.strip()

'Akh il'

In [87]:
s

'    Akh il   '

In [88]:
s.lstrip()

'Akh il   '

In [89]:
s.rstrip()

'    Akh il'

In [90]:
"  ". join("Akhil")
s = "Akhil"

In [91]:
s.center( 20 , "-")

'-------Akhil--------'

In [102]:
s.isnumeric

In [95]:
s.islower()

True

In [99]:
s.isspace()

False

In [100]:
s4 = "    "
s4.isspace()

True

In [103]:
s5 = "12456"

In [104]:
s5.isdigit()

True

In [105]:
s6 = 'sdf345'

In [107]:
s6.isdigit()

False

In [108]:
s6.isalnum()

True

In [109]:
s7 = "345asfd"

In [110]:
s7.isalpha()

False

In [115]:
s.startswith("a")

True

In [116]:
s.startswith("A")

False

In [117]:
s.endswith("q")

False

In [118]:
s.isascii()

True