## NUMPY - numerical python

In [2]:
pip install numpy

Requirement already satisfied: numpy in /home/akhilesh/anaconda3/lib/python3.9/site-packages (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [49]:
import numpy as np
import pandas as pd

In [21]:
np.array([2, 3, 4, 5, 6]) # Create a 1-D Array

array([2, 3, 4, 5, 6])

In [22]:
# Type of a numpy Array 
type(np.array([2, 3, 4, 5, 6]))

numpy.ndarray

In [23]:
np.array([[2, 3, 4], [4, 5, 6]])

array([[2, 3, 4],
       [4, 5, 6]])

In [26]:
# 2d numpy array
arr = np.array([[1, 2, 3, 4], [2, 6, 8, 10]])

In [25]:
l = [[1, 2, 3, 4], [2, 6, 8, 10]];

In [29]:
print(arr[0][0])

1

In [32]:
a = np.array([4, 5, 6, 7, 8], ndmin=3)

In [33]:
a

array([[[4, 5, 6, 7, 8]]])

In [34]:
arr = np.array([[1, 2, 3], [4,5,6], [7, 8, 9]])

In [35]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [38]:
arr.ndim  # check the dimension of the array.

2

#### Generate Random data

In [42]:
# This will generate the 4 x 4 matrix with the number b/w 1-10 

np.random.randint(1, 10, (4, 4))

array([[4, 2, 1, 4],
       [6, 7, 9, 5],
       [4, 6, 3, 6],
       [2, 2, 9, 4]])

In [48]:
# generate the [ 4 x 4 x 2 ] matrix with the number b/w 1-10 

np.random.randint(1, 10, (4, 4, 2))

array([[[7, 5],
        [6, 2],
        [8, 2],
        [6, 3]],

       [[6, 6],
        [1, 8],
        [4, 5],
        [2, 8]],

       [[3, 8],
        [5, 2],
        [1, 7],
        [5, 9]],

       [[8, 5],
        [8, 7],
        [2, 1],
        [7, 8]]])

In [50]:
pd.read_csv("/home/akhilesh/Downloads/FitBit data.csv")

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938