# List

In [1]:
l = [10, 2, 3, "akhil", 45.67, True]

In [2]:
l[0]

10

In [3]:
l[-1]

True

In [4]:
len(l)

6

In [5]:
l[0:4]

[10, 2, 3, 'akhil']

In [6]:
l[::-1]

[True, 45.67, 'akhil', 3, 2, 10]

In [7]:
l

[10, 2, 3, 'akhil', 45.67, True]

In [8]:
l[0:100:2]

[10, 3, 45.67]

In [9]:
l[0:8:-1]

[]

In [10]:
l[:3]

[10, 2, 3]

In [11]:
l +  [ "sudh" ]

[10, 2, 3, 'akhil', 45.67, True, 'sudh']

In [12]:
l * 2

[10, 2, 3, 'akhil', 45.67, True, 10, 2, 3, 'akhil', 45.67, True]

60 in l

In [13]:
60 in l

False

In [14]:
l1 = [1, 2, 34, 5, 9]

In [15]:
max(l1)

34

In [16]:
l2 = ["sachin", "ak", "sx", "sa"]

In [17]:
max(l2)

'sx'

In [18]:
min(l2)

'ak'

In [19]:
l.append("kumar")

In [20]:
l

[10, 2, 3, 'akhil', 45.67, True, 'kumar']

In [21]:
l.pop()

'kumar'

In [22]:
l.pop(3)

'akhil'

In [23]:
l

[10, 2, 3, 45.67, True]

In [24]:
l.reverse()

In [25]:
l

[True, 45.67, 3, 2, 10]

In [26]:
l[::-1]

[10, 2, 3, 45.67, True]

In [27]:
l.sort()

In [28]:
l1.sort() # Will sort the integers

In [29]:
l1

[1, 2, 5, 9, 34]

In [30]:
l1.sort(reverse=True)

In [31]:
l1

[34, 9, 5, 2, 1]

In [32]:
l1 = [12, 32, 12]
l2 = [16, 37, 18]
l3 = [15, 36, 19]

In [33]:
l4 = [l1, l2, l3]

In [34]:
l4

[[12, 32, 12], [16, 37, 18], [15, 36, 19]]

In [35]:
l4[0][1]

32

In [36]:
l.count(3)

1

In [37]:
l5 = [3, 4, 1, 3, 4, 3]

In [38]:
l5.count(3)

3

In [39]:
l5.extend([12, 34, 55, 65])

In [40]:
l5

[3, 4, 1, 3, 4, 3, 12, 34, 55, 65]

In [41]:
l5.extend("akhil")

In [42]:
l5

[3, 4, 1, 3, 4, 3, 12, 34, 55, 65, 'a', 'k', 'h', 'i', 'l']

In [43]:
l7= [1, 2, 4, 6, 2, 55, 6, 23, 7]

In [44]:
l7.index(4)

2

In [45]:
l7.index(2)

1

In [46]:
l = [1, 2,3, 5]

In [47]:
l.append(4)

In [48]:
l

[1, 2, 3, 5, 4]

In [49]:
l.insert(2, 13)

In [50]:
l

[1, 2, 13, 3, 5, 4]

In [51]:
l.pop()

4

In [52]:
l.pop(3)

3

In [53]:
l.remove(13) # remove dataset base on the value

In [54]:
l

[1, 2, 5]

In [55]:
t = (21, 43, 45, 12, "Akhil", "Hii", True)

In [56]:
type(t)

tuple

In [57]:
t[0]

21

In [58]:
t[0:4]

(21, 43, 45, 12)

In [59]:
t[-1]

True

In [60]:
t[0:8:2]

(21, 45, 'Akhil', True)

In [61]:
t[0:4:-1]

()

In [62]:
t[-1:-8:-1]

(True, 'Hii', 'Akhil', 12, 45, 43, 21)

In [63]:
t1 = (12, 12, 13)

In [64]:
t + t1

(21, 43, 45, 12, 'Akhil', 'Hii', True, 12, 12, 13)

In [65]:
str(t)

"(21, 43, 45, 12, 'Akhil', 'Hii', True)"

In [66]:
d = {12:"2", 3:"23", "key": "Akhil"}

In [67]:
type(d)

dict

In [68]:
d["key"]

'Akhil'

In [69]:
d3= {"name" :"Akhil", "tech": ["Ml", "AI", "C++"]}

In [70]:
d3

{'name': 'Akhil', 'tech': ['Ml', 'AI', 'C++']}

In [71]:
d3["tech"]

['Ml', 'AI', 'C++']

In [72]:
"Ml" in d3["tech"]

True

In [73]:
d4 = {"name": "Akhil", "name": "Akhilesh"}

In [74]:
d3["tech"]["Ml"]

TypeError: list indices must be integers or slices, not str

### HOME WORK 

#### l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}] \

1 . Try to reverse a list \
2. try to access 234 out of this list \
3 . try to access 456 \
4 . Try to extract only a list collection form list l \
5 . Try to extract "sudh"\
6 . Try to list all the key in dict element avaible in list \
7 . Try to extract all the value element form dict available in list

In [89]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , 
{"key1" :"sudh" , 234:[23,45,656]}]

In [92]:
l.reverse()

In [93]:
l

[{'key1': 'sudh', 234: [23, 45, 656]},
 (234, 6657, 6),
 [345, 56, 87, 8, 98, 9],
 [23, 456, 67, 8, 78, 78],
 7,
 6,
 5,
 4,
 3]

In [95]:
l[1][0]

234

In [96]:
l[3][1]

456

In [97]:
l[0]["key1"]

'sudh'

In [98]:
l[0]

{'key1': 'sudh', 234: [23, 45, 656]}

In [100]:
l[0].values()

dict_values(['sudh', [23, 45, 656]])