# List

In [57]:
l = [10, 2, 3, "akhil", 45.67, True]

In [58]:
l[0]

10

In [59]:
l[-1]

True

In [60]:
len(l)

6

In [61]:
l[0:4]

[10, 2, 3, 'akhil']

In [62]:
l[::-1]

[True, 45.67, 'akhil', 3, 2, 10]

In [63]:
l

[10, 2, 3, 'akhil', 45.67, True]

In [64]:
l[0:100:2]

[10, 3, 45.67]

In [65]:
l[0:8:-1]

[]

In [66]:
l[:3]

[10, 2, 3]

In [67]:
l +  [ "sudh" ]

[10, 2, 3, 'akhil', 45.67, True, 'sudh']

In [68]:
l * 2

[10, 2, 3, 'akhil', 45.67, True, 10, 2, 3, 'akhil', 45.67, True]

60 in l

In [69]:
60 in l

False

In [70]:
l1 = [1, 2, 34, 5, 9]

In [71]:
max(l1)

34

In [72]:
l2 = ["sachin", "ak", "sx", "sa"]

In [73]:
max(l2)

'sx'

In [74]:
min(l2)

'ak'

In [75]:
l.append("kumar")

In [76]:
l

[10, 2, 3, 'akhil', 45.67, True, 'kumar']

In [77]:
l.pop()

'kumar'

In [78]:
l.pop(3)

'akhil'

In [79]:
l

[10, 2, 3, 45.67, True]

In [80]:
l.reverse()

In [81]:
l

[True, 45.67, 3, 2, 10]

In [82]:
l[::-1]

[10, 2, 3, 45.67, True]

In [83]:
l.sort()

In [84]:
l1.sort() # Will sort the integers

In [85]:
l1

[1, 2, 5, 9, 34]

In [86]:
l1.sort(reverse=True)

In [87]:
l1

[34, 9, 5, 2, 1]

In [88]:
l1 = [12, 32, 12]
l2 = [16, 37, 18]
l3 = [15, 36, 19]

In [89]:
l4 = [l1, l2, l3]

In [90]:
l4

[[12, 32, 12], [16, 37, 18], [15, 36, 19]]

In [91]:
l4[0][1]

32

In [92]:
l.count(3)

1

In [93]:
l5 = [3, 4, 1, 3, 4, 3]

In [94]:
l5.count(3)

3

In [95]:
l5.extend([12, 34, 55, 65])

In [96]:
l5

[3, 4, 1, 3, 4, 3, 12, 34, 55, 65]

In [97]:
l5.extend("akhil")

In [98]:
l5

[3, 4, 1, 3, 4, 3, 12, 34, 55, 65, 'a', 'k', 'h', 'i', 'l']

In [99]:
l7= [1, 2, 4, 6, 2, 55, 6, 23, 7]

In [100]:
l7.index(4)

2

In [101]:
l7.index(2)

1

In [102]:
l = [1, 2,3, 5]

In [103]:
l.append(4)

In [104]:
l

[1, 2, 3, 5, 4]

In [105]:
l.insert(2, 13)

In [106]:
l

[1, 2, 13, 3, 5, 4]

In [107]:
l.pop()

4

In [108]:
l.pop(3)

3

In [109]:
l.remove(13) # remove dataset base on the value

In [110]:
l

[1, 2, 5]

In [120]:
t = (21, 43, 45, 12, "Akhil", "Hii", True)

In [121]:
type(t)

tuple

In [122]:
t[0]

21

In [123]:
t[0:4]

(21, 43, 45, 12)

In [124]:
t[-1]

True

In [126]:
t[0:8:2]

(21, 45, 'Akhil', True)

In [127]:
t[0:4:-1]

()

In [128]:
t[-1:-8:-1]

(True, 'Hii', 'Akhil', 12, 45, 43, 21)

In [131]:
t1 = (12, 12, 13)

In [132]:
t + t1

(21, 43, 45, 12, 'Akhil', 'Hii', True, 12, 12, 13)

In [135]:
str(t)

"(21, 43, 45, 12, 'Akhil', 'Hii', True)"

In [142]:
d = {12:"2", 3:"23", "key": "Akhil"}

In [143]:
type(d)

dict

In [144]:
d["key"]

'Akhil'

In [158]:
d3= {"name" :"Akhil", "tech": ["Ml", "AI", "C++"]}

In [159]:
d3

{'name': 'Akhil', 'tech': ['Ml', 'AI', 'C++']}

In [160]:
d3["tech"]

['Ml', 'AI', 'C++']

In [161]:
"Ml" in d3["tech"]

True

In [162]:
d4 = {"name": "Akhil", "name": "Akhilesh"}

In [164]:
d3["tech"]["Ml"]

TypeError: list indices must be integers or slices, not str

### HOME WORK 

#### l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}] \

1 . Try to reverse a list \
2. try to access 234 out of this list \
3 . try to access 456 \
4 . Try to extract only a list collection form list l \
5 . Try to extract "sudh"\
6 . Try to list all the key in dict element avaible in list \
7 . Try to extract all the value element form dict available in list

In [5]:
l = [3,4,5,6,7 , [23,456,67,8,78,78] , [345,56,87,8,98,9] , (234,6657,6) , {"key1" :"sudh" , 234:[23,45,656]}]

In [2]:
r

NameError: name 'reverse' is not defined