## Function Arguments

In [5]:
def test(a, b):
    return a + b;

### Parameters

In [6]:
test(1, 2)

3

In [7]:
test (b = "23", a = "32")

'3223'

In [8]:
# This will give error because 
# required parameter and passed parameter is diffrent.

test(1, 23, 4)

TypeError: test() takes 2 positional arguments but 3 were given

### Astrick Opertion

In [9]:
# *a => Here you can pass any number of aguments in the Function.

def test2(*a):
    return a;

In [10]:
# As you can see a
print(test2(1))
print(test2(3, 2, 4, 5, 2121))
print(test2(3, 2, 4, 5,12, (12, 4, 5), {1, 2, 33, 4}, 2121))

(1,)
(3, 2, 4, 5, 2121)
(3, 2, 4, 5, 12, (12, 4, 5), {1, 2, 4, 33}, 2121)

In [11]:
def test3(a, b, c, *args):
    return a ,b ,c, args;

In [12]:
# It will automatically detect the argumentents
# It is not not giving error because args is at last.

test3(1, 2, 3, 4, 5, 6, 5)

(1, 2, 3, (4, 5, 6, 5))

In [13]:
def test4(*args, a, b, c):
    return args, a ,b , c;

In [17]:
test4(1, 2, 3, 4, 5, 6, 5)
# It is giving error because not args is not in front

TypeError: test4() missing 3 required keyword-only arguments: 'a', 'b', and 'c'

In [19]:
# we can fix it by specifing the argument name
test4(1, 2, 3, a = 4, b = 5, c = 6)

((1, 2, 3), 4, 5, 6)

In [20]:
# All the astrick as dictonary 

def test6(**dicArgs):
    return dicArgs;

In [22]:
print(test6(key1 = "Akhil", key2 = "Akhilesh", key3 = "Sharma"));

{'key1': 'Akhil', 'key2': 'Akhilesh', 'key3': 'Sharma'}

In [24]:
def test7(*a, **m):
    return m , a;

In [26]:
print(test7(1, 3, 4, 5, "akhil", a = 2, b = 12, c = 13, d = 10));

({'a': 2, 'b': 12, 'c': 13, 'd': 10}, (1, 3, 4, 5, 'akhil'))

In [35]:
def test8(*a):
    '''This function will return sum of all the integer in the arguments'''
    n = 0;
    for i in a:
        if type(i) == int:
            n = n + i;
            
    return n;

In [36]:
test8(2, 3, 4, 5, 6)

20

### Lambda Function 
it is a anonymus function where 

```n = lambda a, b : a + b``` =  ```def func(a, b): return a + b;```

In [43]:
n = lambda a, b : a + b

In [48]:
n(12, 24)

36

In [53]:
t = (3, 4, 4, 5, 6, 67, 7, 7)
l = []
for i in t:
    l.append(i)

In [54]:
l

[3, 4, 4, 5, 6, 67, 7, 7]

In [58]:
[i for i in t]

[3, 4, 4, 5, 6, 67, 7, 7]

Todoys Task : 
    q1 : print a prime number prime number in between 1 - 1000;
    q2 : write a function which is eqiualent to print function in python.
    q3 : write a func lambda which return concatination of all the string that we pass.
    q4 : write a lambda func which return list of square between 1 - 100;
    q5 : write a function which can perform a read operation in from .txt file

In [66]:
# Q1 

for i in range(2, 1000):
    for j in range(2, i-1):
        if i % j == 0 : 
            break;
    else : 
        print(i, end= " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [105]:
# Q2 
def printf(args):
    print(args)

In [106]:
printf("Akhil")

Akhil

In [120]:
k = lambda *args:[k for i in args]

In [121]:
k("AKHIL", " SHAMR")

In [109]:
# Q4

l = lambda a, b : [i * i for i in range(a, b+1)]
l(1, 10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
# Q5 
f = open("text.txt", mode='r', encoding='utf-8')
print(f.read())

Hey I am Akhil.

This is a file, This is contents under the test.txt file