# For Loop

In [43]:
l = [1, 2, 3, 4, "a", "c", "akhil", "*"]

In [14]:
 for i in l :
        print(i)

1
2
23
Aji
*

In [15]:
 for i in l : 
    pass

In [16]:
s = "sudh"

In [17]:
for i in s : 
    print(i)

s
u
d
h

### For Else Loop

In [36]:
for i in l : 
    print(i);
else : 
    print("This will execute only if for is going to complete itself.");

1
2
23
Aji
*
This will execute only if for is going to complete itself.

In [34]:
for i in l : 
    if i == "23":
        break;
    print(i)
else : 
    print("This will execute only if for is going to complete itself.");

1
2

In [53]:
a = "Akhilesh"

for i in a :
    if i == 'l' :
        break;
    print("print char : ", i)

print char :  A
print char :  k
print char :  h
print char :  i

In [61]:
s = {1, 2, 3, 3, 45, 45, 45, 45, "akhil"}

In [62]:
type(s)

set

In [63]:
for i in s: 
    print(i)

1
2
3
akhil
45

In [65]:
d = {"k":"Kittu", "a": "Akhil", "f":"Farah"}

In [66]:
type(d)

dict

In [75]:
for i in d : 
    print(i)

k
a
f

In [77]:
for i in d :  
    print(d[i])

Kittu
Akhil
Farah

In [81]:
range(9)

range(0, 9)

In [82]:
range(2, 9)

range(2, 9)

In [83]:
for i in range(0,9):
    print(i)

0
1
2
3
4
5
6
7
8

In [84]:
list(range(4))

[0, 1, 2, 3]

In [85]:
list(range(3, 10))

[3, 4, 5, 6, 7, 8, 9]

### List of range b/w  4 to 10 with jump of 2

In [87]:
list(range(4, 10, 2))

[4, 6, 8]

In [88]:
list(range(9, 0, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## PATTERNS

In [92]:
n = 4
for i in range(n):
    for j in range(0, i+1):
        print("sudh", end = " " )
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [98]:
for i in range(4, 0, -1):
    for j in range(i): 
        print("Akhil", end = " ")
    print("\n")

Akhil Akhil Akhil Akhil

Akhil Akhil Akhil

Akhil Akhil

Akhil

In [122]:
n = 6;
for i in range(1, n+1):
    k = n - i;
    for k in range(k):
        print("   ", end = "");
    for j in range(i):
        print(" akhil ", end = "")
    print("\n")

                akhil

             akhil  akhil

          akhil  akhil  akhil

       akhil  akhil  akhil  akhil

    akhil  akhil  akhil  akhil  akhil

 akhil  akhil  akhil  akhil  akhil  akhil

#### Store range in List

In [123]:
l = (list(range(0, 8)))

In [124]:
l

[0, 1, 2, 3, 4, 5, 6, 7]

In [125]:
l = list(range(9, 0, -1))

In [126]:
l

[9, 8, 7, 6, 5, 4, 3, 2, 1]